# Environnements virtuels
.venv/
venv/
env/

# Fichiers de configuration locaux Jupyter
.jupyter/
.ipynb_checkpoints/

# Caches Python et builds (Générés automatiquement, ne jamais versionner)
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/

# Fichiers d'environnement locaux (pour tes futures clés API ou secrets)
.env

# Dossiers système
.DS_Store
Thumbs.db

*.log